{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>{% block title %}Read Speed{% endblock %}</title>

<link href="{% static 'vender/bs/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static 'vender/fa/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static 'style.css'%}" rel="stylesheet" type="text/css" />
<script src="{% static 'vender/jquery-3.3.1.min.js'%}"></script>
<script src="{% static 'vender/popper.min.js'%}"></script>
<script src="{% static 'vender/bs/js/bootstrap.min.js'%}"></script>
</head>
<body>
<div class="heading1">
</div>
<div class="container-fluid my-4">
{% block content %}
{% endblock %}
</div>
<p class="txt2">Copyright @ MyCollege.com</p>
</body>
</html>